.bg-glow[data-v-c99f5edf]{background-image:url(texture_paper.MrS7GXqb.png),url(texture_crack_base.CsW4fZAM.png),radial-gradient(88.86% 132.66% at 50% 92.32%,transparent 0,transparent 30%,#000 100%);background-repeat:no-repeat}
