.menu-open[data-v-eb95da12]{opacity:1;visibility:visible}.menu-closed[data-v-eb95da12],.menu-open[data-v-eb95da12]{transform:translate(0) scale(1)}.menu-closed[data-v-eb95da12]{opacity:0;visibility:hidden}
